*{
    margin: 0 0 0 0 ;
    padding: 0 0 0 0;
}

body{
    margin: 0px 0px 0px 0px ;
    padding: 0px 0px 0px 0px ;
}


header{
    height: 3vw;
    background-color: rgba(243, 243, 243, 0.938);
    display: flex;
    align-items: center;
}

header img{
    margin-left: 1vw;
    margin-top: 1vw;
    width: 4vw;
    height: 4vw;
}

header h1 i{
    border-radius: 50%;
}

header h2{
    margin-top: 0.3vw;
    margin-left: 3.5vw;
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

nav{
    background-color: rgba(243, 243, 243, 0.938);
    height: 7vw;
    display: flex;
    align-items: center;
}

nav img{
    margin-left: 2vw;
    margin-top: 0.5vw;
    width: 7vw;
    height: 7vw;
}

nav input{
    width: 43vw;
    height: 3.5vw;
    margin-left: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1vw;
    font-weight: 300;
    border-color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

nav .search{ /*button */
    height: 3.8vw;
    width: 3.5vw;
    border-color: black;
    background-color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav .search i{
    font-size: 2.5vw;
}

nav a{
    margin-left: 1.5vw;
    font-size: 1.5vw;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav .sell{
    margin-left: 4vw;
    width: 7vw;
    height: 3vw;
    border-radius: 5vw;
    border-bottom-color: rgb(0, 102, 255);
    border-top-color: rgb(55, 155, 16);
    border-left-color: rgb(251, 255, 0);
    border-width: 3px;
    
}

.abc{
    width: 252px;
    height: 2.5vw;
    background-color: rgb(255, 255, 255);
    padding-left: 1vw;
    padding-top: 0.9vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

#detail{
    display: flex;
    height: 3vw;
    background-color: rgba(243, 243, 243, 0.938);
    align-items: center;
}

#detail h3, p{
    margin-left: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    width: 1250px;
    height: 200px;
    margin-left: 8vw;
    margin-top: 3vw;
}

.add{
    background-color: rgb(193, 193, 223);
    width: 30vw;
    height: 10vw;
    margin-left: 30vw;
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    color: black;
}

#hadding{
    margin-top: 3vw;
    margin-left: 4vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.main-cards-contaner{
    width: 95vw;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    
}

.card{
    width: 24.9vw;
    height: 29vw;
    background-color: rgb(255, 255, 255);
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 2vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-style: solid;
    border-color: black; 
    border-width: 1px;
}

.card img{
    width: 24.9vw;
    margin-top: -1px;
    margin-left: 0.2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* .card h6{
    background-color: yellow;
    border-radius: none;
    display: flex;
    width: 3.5vw;
    height: 1.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-top: -2vw;
} */

.card h3{
    margin-left: 1vw;
    margin-top: 1vw;
    width: 200px;
    /* background-color: brown; */
    display: inline-flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card .Itam-name{
    margin-top: 2vw;
    margin-left: 1vw;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.card .second-text{
    margin-left: 1vw;
    margin-top: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card i{
    margin-left: 22vw;
    /* margin-bottom: 2vw; */
    margin-top: -15vw;
}

.main-cards-contaner .card .time-text{
    margin-top: 1vw;
    
}

footer .footer-1{
    width: 100%;
    height: 20vw;
    background-color: rgb(248, 248, 248);
    margin-top: 3vw;
    /* display: flex; */
}

footer .footer-1 img{
    width: 32vw;
    height: 20vw;
    margin-top: 0vw;
}

footer .footer-1 h1{
    margin-left: 38vw;
    margin-top: -16vw;
    display: flex;
}

footer .footer-1 h2{
    margin-left: 38vw;
    margin-top: 2vw;
    display: flex;
}

footer .footer-1 hr{
    width: 13vw;
    margin-left: 65vw;
    rotate: 90deg;
    background-color: black;
    margin-top: -2vw;
}

footer .footer-1 .pic{
    width: 35vw;
    height: 4vw;
    /* background-color: blue; */
    margin-left: 73vw;
}

footer .footer-1 .imges{
    width: 8vw;
    height: 2.5vw;
    margin-left: 0vw;
}

footer .footer-1 h4{
    margin-left: 73vw;
    margin-top: -3vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.extra{
    height: 50vw;
    
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

footer .footer-2{
    width: 100%;
    height: 15vw;
    background-color: rgb(238, 238, 238);
    border-style: solid;
    border-color: rgb(75, 72, 72); 
    border-width: 1px;
}

footer .footer-2 .conatner{
    display: inline-block;
    width: 17vw;
    height: 13vw;
    /* background-color: chocolate; */
    margin-top: 1.5vw;
    
}

footer .footer-2 .conatner h3, a{
    margin-left: 2vw;
}

footer .footer-2 .conatner h3{
    font-size: 1vw;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(2, 54, 70);
}

footer .footer-2 .conatner a{
    font-weight: 400;
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(2, 54, 70);
}



/* footer .footer-2 .conatner{
    width: 40vw;
    height: 20vw;
    margin-left: 40vw;
    background-color: crimson;
} */

footer .footer-2 .conatner .pic{
    width: 20vw;
    height: 4vw;
    background-color: blue;
    margin-left: 3vw;
    margin-top: -12vw;
}

footer .footer-2 .conatner .imges{
    width: 6vw;
    height: 2vw;
    margin-left: 0vw;
}

footer .footer-2 h4{
    margin-left: 3vw;
    margin-top: 14vw;
    color: rgb(2, 54, 70);
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

footer .footer-3{
    width: 100%;
    height: 3vw;
    background-color: rgb(2, 54, 70);
    display: flex;
    align-items: center;
    justify-content: end;
}

footer .footer-3 h5{
    color: white;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 2vw;
}